<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration/>
  <appSettings>
    <add key="ActiveRecordDriver" value="NHibernate.Driver.OdbcDriver"/>
    <add key="ActiveRecordDialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <!--
    <add key="ActiveRecordDialect" value="NHibernate.Dialect.FirebirdDialect"/>
    -->
    <add key="ActiveRecordConnectionProvider" value="NHibernate.Connection.DriverConnectionProvider"/>
    <add key="ActiveRecordProxyFactory" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
    <add key="LimparDadosAposGeracao" value="false"/>
    <add key="SimbolosEspeciaisAEliminarIE" value="-.\/"/>
  </appSettings>
  <connectionStrings>
    <add name="DBOrigemDadosFiscal"
        connectionString="Driver={Firebird/InterBase(r) driver};Dialect=3;uid=SYSDBA;dbname=192.168.9.100:G:\delphi5\processo\termogal_28387_erick\ESCRITORE0.GDB;pwd=masterkey"
        providerName="System.Data.Odbc" />
    <add name="DBOrigemDadosContabil"
        connectionString="Driver={Firebird/InterBase(r) driver};Dialect=3;uid=SYSDBA;dbname=192.168.9.100:G:\delphi5\processo\termogal_28387_erick\ESCRITORE0.GDB;pwd=masterkey"
        providerName="System.Data.Odbc" />
    <add name="DBArquivoSpedFiscal"
        connectionString="Driver={Firebird/InterBase(r) driver};Dialect=3;uid=SYSDBA;dbname=192.168.9.100:G:\delphi5\processo\termogal_28387_erick\ESCRITORE0.GDB;pwd=masterkey"
        providerName="System.Data.Odbc" />
    <add name="DBArquivoSpedContabil"
        connectionString="Driver={Firebird/InterBase(r) driver};Dialect=3;uid=SYSDBA;dbname=192.168.9.100:G:\delphi5\processo\termogal_28387_erick\ESCRITORE0.GDB;pwd=masterkey"
        providerName="System.Data.Odbc" />
    <!--
    <add name="DBArquivoSpedFiscal"
        connectionString="Driver={SQL Server};server=RGROFF-PC\SQLEXPRESS;Trusted_connection=yes;database=ArquivoSpedFiscal;"
        providerName="System.Data.Odbc" />
    <add name="DBArquivoSpedContabil"
        connectionString="Driver={SQL Server};server=RGROFF-PC\SQLEXPRESS;Trusted_connection=yes;database=ArquivoSpedContabil;"
        providerName="System.Data.Odbc" />
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
